<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DDWXVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2E89B061C86C801004C060A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2E89B1F1C86C801004C060A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2E89B2A1C86C801004C060A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
